<div class="jumbotron">
    <h1 class="title">Job Win</h1>
    <p class="slogan">找对工作！就是选对角色!
    <br>
    角色，生活的窗口，通向新世界！
    <br>
    生活，新角色，新窗口,发现新生可能！
    <br>
     从这，打开你的新窗口！
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs"> New Life</a></p>
</div>


<sectoin id="company">
  <div class = "container-fluid">
    <div class="row">

      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class= "img-thhumbnail">
          <div class="caption">
            <h3>hahahah</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid"  class = "img-thhumbnail">
          <div class="caption">
            <h3>@asdof.com </h3>
          </div>
        </div>
      </div>

      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</sectoin>
