/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}


.kky {
  background-image:url('http://ojatxz8kf.bkt.clouddn.com/IMG20161005163552.jpg');
  // background-image:url('http://y.photo.qq.com/img?s=n0m7YMg0L&l=y.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 600px;
  padding-top: 110px;
  // position:90% 0%
  // background-position:30% 30%;

}


.kky1 {
  background-image:url('http://ojatxz8kf.bkt.clouddn.com/Wech.jpeg');
  // background-image:url('http://y.photo.qq.com/img?s=n0m7YMg0L&l=y.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 600px;
  padding-top: 110px;
  // position:90% 0%
  // background-position:30% 30%;
}


.jumbotron {
  background-image:url('http://oj5c6wpwt.bkt.clouddn.com/xrt9twwwc6y-eric-froehling.jpg');
  // background-image:url('http://y.photo.qq.com/img?s=n0m7YMg0L&l=y.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  padding-top: 110px;
  // position:90% 0%
  // background-position:30% 30%;

}

.title {
  font-family: georgia,"Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  // background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
  // max-width: 100px;//最大宽度
  font-variant: small-caps;
  text-align:left ;
  font-style:oblique;
  margin-top: -70px;
  margin-bottom: 100px;
  border-top-right-radius: 3px;//右上角圆边
  border-top-left-radius: 3px;//左上角圆边
}
///修改job win颜色
.jumbotron h1, .jumbotron .h1 {
    // text-align: left ;//文字左对齐
    color: #A0522D;//#A0522D;	//字体颜色
    // padding: 50px 20px 0;//上50px，左右20px，下0
    // background-color: rgba(255, 253, 231, 0.1);//背景颜色含透明度
    max-width: 560px;//最大宽度 rgb(255,253,231)
    padding: 10px;//上下左右padding为20px
    border-bottom-right-radius: 6px;//右下角圆边
    font-size: 90px;//字体大小
    // text-shadow: 1px 1px lemonchiffon ;//字体阴影颜色 lemonchiffon
    padding: 20px 50px;//通过padding来决定btn的大小


}
//////修改job win颜色-end


.jumbotron p {
    margin: 0;//上下左右margin为0
    font-size: 29px;//字体大小
    max-width: 800px;//最大宽度
    background-color: rgba(250, 250, 250, 0.4);//背景颜色含透明度 rgb(255,0,255)
    padding: 20px;//上下左右padding为20px
    // text-align:left;//文字左对齐
    // color: #006400;//字体颜色（#556B2F）
    color: #556B2F;//字体颜色（#556B2F
    // border-bottom-right-radius: 6px;//右下角圆边
    // border-bottom-left-radius: 6px;//左下角圆边
    // text-shadow: 3px 2px red;//字体阴影颜色
    font-weight: 300;///bold粗体
    padding: 8px 130px;//通过padding来决定btn的大小

}
.form-control{
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  color: black;
}

.slogan {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center; ;
  // color: blue;
  top: 12px;
}

.lead {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  color: brown;
}

.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
  color: red;//#A0522D;	//字体颜色

}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}

.navbar-default {//顶部引导栏变化，
    // background-color: rgba(250, 0, 250, 0.05);//背景颜色含透明度
    // background-color: #F5F5F5;//背景颜色
    background-color: #ecf0f1;//背景颜色#
    // background-color: #FFFEEF;//背景颜色#

    border-color: #ecf0f1;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
}


.container-fluid .jumbotron{  //把图片左右撑开
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0

}

///////去掉圆角
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}
//////去掉圆角-end

/////修改logo字体颜色
.navbar-default .navbar-brand {
   color: #A0522D;//字体颜色
   padding: 10px 15px;//上下10px,左右15px
   line-height: 30px;//文字行高
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FF6F00;//鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}
////////修改logo字体颜色-end

//////修改导航栏链接颜色
.navbar-default .navbar-nav > li > a{
  color: #A0522D;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FF6F00;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FF6F00;
  background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color: #212121;
}
//////修改导航栏链接颜色-end

////按钮颜色修改
.btn-danger {
    color: #FF5722;//字体颜色
    background-color: rgba(250, 250, 250, 0.3);//背景颜色含透明度 rgb(255,0,255)
    // background-color: white;//#FF5722
    border-color: #DCDCDC;//边框颜色#EF6C00
    // color: #556B2F;
}

.btn-danger:hover {
    background-color: #A52A2A;//鼠标放置在btn上的背景颜色
    border-color: #CD5C5C;//鼠标放置在btn上的边框颜色 E65100
    color: #DAA520;//字体颜色

}
////按钮颜色修改-end

////按钮大小修改
.btn-lg, .btn-group-lg > .btn {
  // padding: 50px 20px 0;//上50px，左右20px，下0
    padding: 2px 5px;//通过padding来决定btn的大小
    font-size: 33px;//btn文字大小
    letter-spacing: 6px;//调整文字间距
    // border-radius: 20px;//btn圆角
    width: 250px;//这里用指定宽度把btn拉得更长
}
////按钮大小修改-end
